<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="emailContentPath" value="D:\Development\Assignment\EmailText.txt"/>
		<add key="ExpenseServiceURL" value="http://localhost/ExpenseClaimServices/api/expense/GetExpenseDetails?emailBody="/>
		<add key="ReservationServiceURL" value="http://localhost/ExpenseClaimServices/api/reservation/GetReservationDetails?emailBody="/>

		
		<!---->
	</appSettings>
</configuration>